.addProduct {
    padding: 16px;
    color: $BLACK;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: white;
    overflow: scroll;
    &__header {
        font-size: 0.8rem;
        color: $SILVER;
        padding-bottom: 8px;
        padding-top: 24px;
    }
    &__input {
        background-color: $ALABASTER;
        border: $MERCURY solid 1px;
        border-radius: 5px;
        height: 48px;
        width: 100%;
        font-family: AvenirNext;
        color: $BLACK;
        padding-left: 16px;
        box-sizing: border-box;
        &--select {
            padding-right: 16px;
            color: $BLACK;
        }
        &--description {
            height: 80px;
            padding-top: 16px;
            margin-bottom: 32px;
        }
    }
    &__statusToggle {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-right: 12px;
        &--title {
            padding-top: 6px;
            color: $BLACK;
        }
    }
    &__buttons {
        display: flex;
        flex-direction: column-reverse;
        &--save {
            background-color: $BLUE;
            border: none;
            color: $ALABASTER;
            height: 48px;
            border-radius: 5px;
            font-size: 1rem;
            font-weight: bold;
        }
        &--cancel {
            background: none;
            border: none;
            color: $BLUE;
            padding: 24px 0;
            font-weight: 700;
            font-size: 1rem;
        }
    }
    &__warehousesSelect {
        width: 100%;
        height: 48px;
        // padding-top: 15px;
        & * {
            background-color: $ALABASTER;
            height: 100%;
        }
        &:first-child {
            padding-top: 12px;
        }
    }
}
.addProduct--hide {
    display: none;
}
.addProduct--show {
    display: initial;
}

// select imported css
.css-1wa3eu0-placeholder {
    padding-top: 14px;
}
.css-yk16xz-control {
    height: 48px;
}
.css-1okebmr-indicatorSeparator {
    height: 32px;
}
// .css-tlfecz-indicatorContainer {
//     height: 48px;
// }

@media (min-width: 768px) {
    .addProduct {
        background: rgba(0,0,0,0.5);
        &__tab {
            background: white;
            width: 576px;
            height: 764px;
            margin: auto;
            padding: 40px 48px;
            border-radius: 5px;
            box-sizing: border-box;
            &--row {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }
        &__title {
            font-size: 2rem;
            margin: 16px 0 24px;
        }
        &__input {
            height: 48px;
            width: 220px;
            &--description {
                margin-bottom: 40px;
                height: 80px;
                width: 480px;
            }
        }
        &__status {
            display: flex;
            flex-direction: column;
            width: 220px;
        }
        &__statusToggle {
            padding-top: 8px;
        }
        &__buttons {
            flex-direction: row;
            justify-content: flex-end;
            &--save {
                width: 160px;
                height: 48px;
            }
            &--cancel {
                padding: 0;
                margin: 0 48px;
            }
        }
        &--show {
            // will need to be adjusted with navbar added
            padding-top: 10vh;
        }
        &__warehousesSelect {
            width: 220px;
        }
    }
}