/*=============================================
=              Headers (For tab/desk)        =
=============================================*/
.inventoryTable__Headers {
  display: none;
}
@media (min-width: 768px) {
  .inventoryTable {
    input {
      width: 40%;
    }

    &__Headers {
      margin: 0px 5px;
      display: flex;
      justify-content: space-between;

      h5 {
        margin: 0px;
        width: 15%;
      }

      h5:first-child {
        width: 30%;
        max-width: 30%;
        margin-right: 16px;
        margin-left: 8px;
      }
    }
  }
}

/*=============================================
=            Kebab Button General        =
=============================================*/
//CONTAINED IN KEBABBUTTON.JS
.kebabContainer {
  .kebabButton {
    mask-image: url("../assets/Icons/SVG//Icon-kebab-default.svg");
    background-color: black;
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;

    border: none;
    height: 20px;
    width: 20px;
  }

  .removeButton {
    border: $MERCURY solid 1px;
    background-color: white;
    position: absolute;
    text-align: start;
    font-size: 14px;
    font-family: AvenirNext;
    z-index: 1; // Force on top
    border-radius: 2px;
    box-shadow: 0px 40px 30px 0px rgba(225, 225, 225, 0.4); //Color is $MERCURY
    &--show {
      display: block;
    }

    &--hide {
      display: none;
    }
  }
}

/*=============================================
=            Table Rows / Cells          =
=============================================*/
.item {
  border-bottom: solid $SILVER 1px;
  padding-bottom: 24px;
  padding-top: 24px;
  &:hover {
    background-color: $MERCURY;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .fullSizeOnly {
    display: none;
  }

  .mobileOnly {
    display: block; //Show by default, may be overridden by display:flex, etc
  }

  &__flexContainer {
    display: flex;
    flex-direction: column;
    padding: 5px;

    .kebabButton {
      mask-image: url("../assets/Icons/SVG//Icon-kebab-default.svg");
      background-color: black;
      mask-size: contain;
      mask-position: center;
      mask-repeat: no-repeat;

      border: none;
      height: 20px;
    }
    .topRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative; //Allow absolute positioning of remove button
      h5 {
        margin-top: 10px;
      }

      //Kebab button
      .kebabButton {
        margin-right: 10px;
      }

      .kebabContainer {
        .removeButton {
          width: 50%;
          max-width: 200px;
          height: 50px;
          bottom: -40px;
          right: 5px;
        }
      }
    }

    h5,
    h4 {
      margin: 0px;
    }

    //Product name title
    h2 {
      margin: 0px 0px 16px 0px;
    }

    h5 {
      font-size: 14px;
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
}

@media (min-width: 768px) {
  .item {
    margin: 0px 5px;

    .fullSizeOnly {
      display: block; //May be overridden by display:flex, etc
    }

    .mobileOnly {
      display: none;
    }
    &__flexContainer {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      h5 {
        display: none;
      }

      h2 {
        margin-bottom: 0px;
      }

      .mobileOnly {
        display: none;
      }

      .item__text {
        width: 30%;
        max-width: 30%;
        margin-right: 16px;
        margin-left: 8px;
      }
      .tableCell {
        width: 15%;
      }

      #kebabCell {
        display: flex;
        justify-content: space-between;
        position: relative;
        .kebabContainer {
          .removeButton {
            width: 100%;
            height: 50px;
            bottom: -50px;
            right: 0px;
          }
        }
      }

      .fullSizeOnly {
        display: block;
      }

      .kebabButton {
        margin-right: 12px;
      }
    }
  }
}

@media (min-width: 1440px) {
  .item {
    &__flexContainer {
      #kebabCell {
        .kebabContainer {
          .removeButton {
            bottom: -60px;
          }
        }
      }
    }
  }
}
