// @import "fonts";
// @import "colors";

/*=============================================
=              NavBar                         =
=============================================*/

/* MOBILE - screen 320 px */

.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: 100vw;
    background-color: $BLACK;

    header {
        margin-left: 69px;
        margin-right: 69px;

        .logo {
            margin-top: 16px;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 16px;
        color: $ALABASTER;
        font-family: "AvenirNext", Arial, Helvetica, sans-serif;
    }

    a {
        color: $ALABASTER;
        font-family: "AvenirNext", Arial, Helvetica, san-serif;
        text-decoration: none;
    }

    a:active,
    a:visited {
        font-weight: 550;
        margin-bottom: 20px;
        border-bottom: 2px solid $ALABASTER;
    }
}

/* MEDIA QUERIES */

/* TABLET 768px */

@media (min-width: 768px) {
    navBar {
        flex-direction: row;
        margin-left: 24px;
        margin-right: 24px;

        nav {
            flex-direction: row;
            justify-content: flex-start;
        }
    }
}

/* MEDIA QUERIES */

/* DESKTOP 1440px */

@media (min-width: 1440px) {
    navBar {
        margin-left: 180px;
        margin-right: 180px;
    }
}