/*====================================
*              NavBar                *
=====================================*/

/* MOBILE - screen 320 px */

.NavBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80px;
    width: 100%;
    background-color: $BLACK;
    box-sizing: content-box;

    header {
        margin-left: 69px;
        margin-right: 69px;
        .logo {
            margin-top: 16px;
            text-align: center;
        }
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;

        margin-bottom: 16px;
        color: $ALABASTER;
        font-family: "AvenirNext", Arial, Helvetica, sans-serif;

        .nav__left,
        .nav__right {
            padding-top: 16px;
            width: 50%;
            text-align: center;
        }
    }

    a {
        color: $ALABASTER;
        font-family: "AvenirNext", Arial, Helvetica, san-serif;
        text-decoration: none;
    }

    a:hover,
    a:active,
    a:visited {
        flex-basis: 100%;
        width: 100%;
        font-weight: 550;
        margin-bottom: 20px;
        border-bottom: 3px solid $ALABASTER;
    }
}

/* MEDIA QUERIES */

/* TABLET 768px */

@media (min-width: 768px) {
    .NavBar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 0px;

        header {
            margin-left: 24px;

            .logo {
                margin: 0px;
                text-align: center;
            }

        }

        nav {
            flex-direction: row;
            justify-content: flex-start;
            margin: 0px;

            .nav__left,
            .nav__right {
                padding-top: 0;
                text-align: left;
                width: 20%;
            }
        }
    }
}

/* MEDIA QUERIES */

/* DESKTOP 1440px */

@media (min-width: 1440px) {
    .NavBar {

        header {
            margin-left: 180px;

        }

        nav {

            .nav__left,
            .nav__right {
                text-align: left;
                width: 10%;
            }
        }
    }
}