/*=============================================
=            Colors                          =
=============================================*/
$BLACK: #323232;
$SILVER: #afafaf;
$MERCURY: #e1e1e1;
$ALABASTER: #fafafa;
$BLUE: #004892;
$DARKBLUE: #002f5f;
